@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

:root {
  --header-h1: rgba(238, 238, 238, 1);
  --header-h2: rgba(158, 158, 158, 1);
  --btn-primary: rgba(0, 102, 153, 0.5);
  --btn-secondary: rgba(1, 84, 126, 0.5);
  --header-font: rgba(224, 224, 224, 1);

  --about-bg: rgba(19, 20, 24, 1);
  --about-p: rgba(189, 189, 189, 1);

  --resume-h1: rgba(51, 51, 51, 1);
  --resume-p: rgba(68, 68, 68, 1);
  --resume-bg: rgba(204, 204, 204, 1);
  --resume-header: rgba(221, 221, 221, 1);

  --primary-btn: rgba(0, 102, 153, 1);
  --secondary-btn: rgba(1, 84, 126, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// UTILITY CLASSES
h1 {
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  font-family: "Monoton", cursive;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  font-family: "Monoton", cursive;
}

p {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-decoration: none !important;
  font-family: "Monoton", cursive;
}

li {
  list-style: none;
}
// END UTILITY CLASSES

body {
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.7;
  overflow-x: hidden;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background: var(--bg-color);
}

// SCROLL BAR
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #444;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-btn);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-btn);
}
// END SCROLL BAR

// NAVBAR SECTION
.navbar {
  top: 0;
  z-index: 100;
  width: 500px;
  height: 100%;
  right: -500px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background: rgba(#000, 0.85);
  transition: right 0.8s cubic-bezier(1, 0, 0.5, 1);

  .hamburger-menu {
    top: 30px;
    right: 30px !important;
    width: 35px;
    height: 30px;
    padding: 3px;
    display: flex;
    cursor: pointer;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid var(--header-h1);
    background-color: rgba(17, 5, 5, 0.2);

    &:focus {
      outline: none;
    }

    .line {
      width: 100%;
      height: 3px;
      background-color: var(--header-h1);
      transition: all 0.8s ease-in-out;
    }
  }

  ul.nav-list {
    text-align: center;

    li.nav-item {
      margin: 20px;
      list-style: none;

      a.nav-link {
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 30px;
        border-radius: 50% 0 50% 0;
        transition: 0.5s;
        font-weight: 500;
        letter-spacing: 2px;
        transition: 0.5s;
        font-family: "Monoton", cursive;

        &:focus {
          outline: none;
        }

        &:hover {
          background: var(--btn-primary);
        }
      }
    }

    .social-content {
      a {
        color: var(--btn-primary);
        margin: 0 0.5rem;

        &:hover {
          color: var(--btn-secondary);
        }
      }
    }
  }
}

.change {
  right: 0;
}

.change .line-1 {
  transform: rotateZ(-405deg) translate(-5.5px, 5px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  opacity: 0;
}

.change .line-4 {
  transform: rotateZ(405deg) translate(-5.5px, -5px);
}
// END NAVBAR SECTION

// HEADER SECTION
header.header-section {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
      to right bottom,
      rgba($color: #000000, $alpha: 0.9),
      rgba($color: #000000, $alpha: 1)
    ),
    url("../img/header-img.jpg") no-repeat fixed center/cover;

  &::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    overflow: hidden;
    position: absolute;
    mix-blend-mode: soft-light;
    background: linear-gradient(
      to right bottom,
      #9069d8,
      #8977de,
      #8483e3,
      #818fe6,
      #819ae7,
      #7ca8ec,
      #7bb4ef,
      #80c0f1,
      #85d1f5,
      #94e1f6,
      #a9eff7,
      #c2fdf9
    );
  }

  #particles-js {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
  }

  .header-content {
    top: 0;
    left: 10%;
    right: 10%;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: absolute;
    align-items: center;
    justify-content: center;

    .text-content {
      text-align: center;
      text-transform: uppercase;

      h1 {
        color: var(--header-h1);
      }

      h2 {
        color: var(--header-h2);
      }

      a.primaryBtn {
        outline: none;
        margin: 0.5rem 0;
        font-size: 2rem;
        text-shadow: none;
        display: inline-block;
        text-decoration: none;
        padding: 0.4rem 1.8rem;
        color: var(--header-font);
        background: var(--btn-primary);
        box-shadow: 3px 3px 8px #000;
        transition: all 0.6s ease-in-out;

        &:hover {
          letter-spacing: 0.4rem;
          background: var(--btn-secondary);
        }
      }

      .social-content {
        margin: 0.5rem 0 0 0;
        a {
          outline: none;
          font-size: 2.4rem;
          display: inline-block;
          color: var(--btn-primary);
          margin: 0 2rem 0 2rem;
          text-shadow: 3px 3px 8px #000;
          transition: all 0.4s ease-in-out;

          &:hover {
            color: var(--btn-secondary);
            transform: translateY(-10px);
          }
        }
      }
    }
  }
}
// END HEADER SECTION

// ABOUT SECTION
section.about-section {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 2rem 0;
  position: relative;
  background: var(--about-bg);

  h1.primary-heading {
    text-align: center;
    color: var(--header-h1);
    text-shadow: 5px 5px 8px #000;

    &::before {
      content: "";
      top: 5rem;
      left: 6rem;
      width: 240px;
      height: 10px;
      position: absolute;
      box-shadow: 5px 5px 8px #000;
      background: var(--header-h1);
    }

    &::after {
      content: "";
      top: 5rem;
      right: 8rem;
      width: 200px;
      height: 10px;
      position: absolute;
      box-shadow: 5px 5px 8px #000;
      background: var(--header-h1);
    }
  }

  .about-content {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 2rem;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    .about-text {
      width: 600px;
      h1 {
        font-size: 4rem;
        font-weight: 900;
        letter-spacing: 0.2rem;
        color: var(--header-font);
        text-shadow: 5px 5px 8px #000;
        font-family: "Roboto Condensed", sans-serif;
      }

      p {
        font-size: 1.2rem;
        font-weight: 500;
        text-align: justify;
        letter-spacing: 0.2rem;
        color: var(--header-font);
        text-shadow: 3px 3px 5px #000;
        font-family: "Open Sans Condensed", sans-serif;
      }

      a {
        outline: none;
        text-shadow: none;
        font-size: 1.6rem;
        font-weight: 400;
        padding: 0.4rem 1.8rem;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 0.2rem;
        color: var(--header-font);
        background: var(--primary-btn);
        box-shadow: 3px 3px 8px #000;
        transition: all 0.6s ease-in-out;

        &:hover {
          letter-spacing: 0.4rem;
          background: var(--secondary-btn);
        }
      }
    }

    .about-img {
      width: 20rem;
      height: 20rem;
      outline-offset: 1rem;
      backface-visibility: hidden;
      transition: all 0.3s ease-in-out;
      box-shadow: 5px 5px 8px #000;

      .img {
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(#4a47a3, 0.4), rgba(#413c69, 0.4)),
          url("../img/1.jpg") no-repeat center center/cover;
      }

      &:hover {
        outline: 1rem solid var(--primary-btn);
        transform: scale(1.06) translateY(-0.5rem);
      }
    }
  }
}
// END ABOUT SECTION

// ACHIEVEMENT SECTION
section.achievement {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--resume-bg);

  .header-main {
    display: flex;
    padding: 0.2rem 0 0 0;
    align-items: center;
    justify-content: center;
    background: var(--resume-header);
    box-shadow: 0 3px 8px rgba(#000, 0.4);

    h1 {
      font-size: 4rem;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.2rem;
      color: var(--resume-h1);
      text-transform: uppercase;
      text-shadow: 2px 2px 4px rgba(#000, 0.4);
      font-family: "Bangers", cursive;
    }

    i {
      font-size: 3rem;
      margin: -0.6rem 1rem 0 0;
      color: var(--resume-h1);
      text-shadow: 2px 2px 4px rgba(#000, 0.4);
    }
  }

  .timeline {
    padding: 50px 0;

    ul {
      h1.edu {
        width: 20%;
        color: var(--resume-h1);
        line-height: 2;
        font-size: 2rem;
        display: flex;
        padding: 0.2rem 8rem;
        font-weight: 700;
        text-align: center;
        align-items: center;
        text-shadow: none;
        letter-spacing: 0.2rem;
        justify-content: center;
        margin: 0 auto 1rem auto;
        font-family: "Bangers", cursive;
        background: var(--resume-header);
        border: 0.2rem solid var(--resume-h1);
        text-shadow: 2px 2px 4px rgba(#000, 0.4);
        box-shadow: 3px 3px 8px 2px rgba(#000, 0.4);
      }

      li {
        width: 6px;
        margin: 0 auto;
        padding-top: 30px;
        position: relative;
        background: var(--resume-h1);
        box-shadow: 3px 3px 8px 2px rgba(#000, 0.4);

        div {
          bottom: 0;
          opacity: 1;
          width: 500px;
          padding: 1rem;
          position: relative;
          background: var(--resume-header);
          // visibility: hidden;
          backface-visibility: hidden;
          text-transform: uppercase;
          border: 0.25rem solid #333;
          // transition: all 2s ease-in-out;
          box-shadow: 3px 3px 8px rgba(#000, 0.4);

          h1 {
            line-height: 2;
            font-weight: 900;
            text-shadow: none;
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
            color: var(--resume-h1);
            font-family: "Roboto Condensed", sans-serif;

            i {
              font-size: 1rem;
              padding: 0 0.2rem 0 0;
              color: var(--achievement-color);
            }
          }

          p {
            font-size: 1rem;
            font-weight: 900;
            line-height: 1.6;
            letter-spacing: 0.2rem;
            color: var(--resume-p);
            font-family: "Open Sans Condensed", sans-serif;

            span {
              a {
                margin: 0 0.4rem;
                font-size: 0.8rem;
              }
            }
          }
        }

        &:nth-child(odd) div {
          left: 40px;
          transform: translate(20px, 0);
        }

        &:nth-child(even) div {
          left: -530px;
          transform: translate(-20px, 0);
        }

        &::before {
          content: "";
          left: 50%;
          bottom: 0;
          z-index: 1;
          width: 40px;
          height: 40px;
          padding: 1rem;
          border-radius: 50%;
          position: absolute;
          transform: translateX(-50%);
          background: var(--resume-h1);
          box-shadow: 3px 3px 8px 2px rgba(#000, 0.4);
          transition: background 0.5s ease-in-out;
        }

        &::after {
          content: "";
          left: 50%;
          bottom: 0;
          width: 20px;
          height: 15px;
          z-index: 2;
          background: url("../img/graduation-cap-solid.svg") no-repeat center
            center/cover;
          position: absolute;
          transform: translate(-50%, -90%);
          transition: background 0.5s ease-in-out;
        }
      }
    }
  }
}
// END ACHIEVEMENT SECTION

// SKILLS SECTION
section.skills {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--resume-header);

  h1 {
    width: 100%;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.2rem;
    color: var(--resume-h1);
    text-transform: uppercase;
    background: var(--resume-bg);
    font-family: "Bangers", cursive;
    text-shadow: 2px 2px 4px rgba(#000, 0.4);
    box-shadow: 0 3px 8px rgba(#000, 0.4);
  }

  div.row {
    padding: 2rem 0 4rem 0;

    div {
      h2 {
        color: var(--resume-h1);
        font-size: 2.6rem;
        font-family: "Bangers", cursive;
        text-shadow: 2px 2px 4px rgba(#000, 0.4);
      }
      div.progress-bar {
        width: 100%;
        height: 3em;
        color: white;
        font-weight: 900;
        position: relative;
        border-radius: 1.5em;
        background-color: #111;
        box-shadow: 3px 3px 5px rgba(#000, 0.85);

        &::before {
          content: attr(data-label);
          top: 0.5em;
          left: 0.5em;
          padding: 1em;
          display: flex;
          bottom: 0.5em;
          min-width: 2rem;
          border-radius: 1em;
          position: absolute;
          align-items: center;
          transform: scaleX(0);
          transform-origin: left;
          background-color: #069;
          max-width: calc(100% - 1em);
          width: calc(var(--width, 0) * 1%);
          box-shadow: inset 1px 1px 2px rgba(#000, 0.5);
          animation: animateProgressBar 1s cubic-bezier(1, 0, 0.5, 1) forwards;
        }
      }
    }
  }
}
// END SKILLS SECTION

// CONTACT SECTION
section.contact-section {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 0 2rem 0;
  background: var(--resume-bg);

  h1 {
    width: 100%;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.2rem;
    color: var(--resume-h1);
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(#000, 0.4);
    background: var(--resume-header);
    font-family: "Bangers", cursive;
    box-shadow: 0 3px 8px rgba(#000, 0.4);
  }

  .contact-content {
    padding: 4rem 0 2rem 0;
    font-family: "Bangers", cursive;
    .content-1 {
      form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        label {
          display: block;
          font-size: 2rem;
          font-weight: 500;
          color: var(--resume-h1);
          text-transform: uppercase;
          line-height: 1;
          text-shadow: 2px 2px 4px rgba(#000, 0.4);
        }

        input {
          border: 0;
          width: 100%;
          outline: none;
          font-size: 1.4rem;
          margin: 0 0 2rem 0;
          padding: 0.2rem 0.5rem;
          border: 0.2rem solid var(--resume-header);
          box-shadow: 0 3px 8px rgba(#000, 0.4);
        }

        input[type="submit"] {
          border: 0;
          color: #fff;
          cursor: pointer;
          outline: none;
          letter-spacing: 0.2rem;
          background: var(--primary-btn);
          transition: all 0.5s ease-in-out;
          font-family: "Monoton", cursive;
          box-shadow: 0 3px 8px rgba(#000, 0.4);

          &:hover {
            letter-spacing: 0.4rem;
            background: var(--secondary-btn);
          }
        }

        textarea {
          width: 100%;
          resize: none;
          border: 0;
          width: 100%;
          outline: none;
          font-size: 1.4rem;
          margin: 0 0 0.8rem 0;
          padding: 0.2rem 0.4rem;
          border: 0.2rem solid var(--resume-header);
          box-shadow: 0 3px 8px rgba(#000, 0.4);
        }

        .recaptcha {
          width: 100%;
          box-shadow: 0 3px 8px rgba(#000, 0.4);
        }
      }
    }

    .content-2 {
      iframe {
        width: 100%;
        border: 0.5rem solid var(--resume-h1);
        box-shadow: 0 3px 8px rgba(#000, 0.4);
      }
    }
  }

  .address {
    .content-1 {
      margin: 0.6rem 1rem;
      padding: 1rem;
      background: var(--resume-header);
      box-shadow: 0 3px 8px rgba(#000, 0.4);

      h1 {
        font-size: 2rem;
        color: var(--resume-h1);
      }

      .content {
        display: flex;
        justify-content: center;

        .icon {
          padding: 1rem 0.5rem 0 0.5rem;
          i {
            font-size: 2rem;
          }
        }
        .text-content {
          padding: 1rem 0 0 0;
          p {
            padding: 0;
            margin: 0;
            line-height: 1.2;
            font-size: 0.8rem;
            letter-spacing: 0;
            font-family: sans-serif;
          }
        }

        .text-content.add {
          p {
            font-weight: 700;
            font-size: 0.8rem;
            color: var(--resume-h1);
          }
        }
        .text-content.num {
          p {
            font-weight: 700;
            font-size: 0.9rem;
            color: var(--resume-h1);
          }
        }
        .text-content.mail {
          p > a {
            font-size: 0.8rem;
            font-weight: 700;
            color: var(--resume-h1);
            letter-spacing: 0;
            font-family: sans-serif;
            text-transform: lowercase;
          }
        }
      }
    }
  }
}
// END CONTACT SECTION

// FOOTER SECTION
footer.footer-section {
  background: var(--about-bg);
  padding: 0.2rem 0 0.6rem 0;

  .social-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    a {
      color: var(--primary-btn);
      outline: none;
      font-size: 2rem;
      display: inline-block;
      margin: 1rem 1.8rem 0 1.8rem;
      transition: all 0.4s ease-in-out;
      text-shadow: 2px 2px 4px rgba(#000, 0.4);

      &:hover {
        color: var(--secondary-btn);
        transform: translateY(-10px);
      }
    }
  }
}
// END FOOTER SECTION

// MEDIA QUERIES
@media only screen and (min-width: 769px) and (max-width: 991px) {
  header.header-section {
    .header-content {
      .text-content {
        h1.primary-heading {
          font-size: 4rem;
        }
        h2.secondary-heading {
          font-size: 3rem;
        }
        a.primaryBtn {
          font-size: 1.8rem;
        }

        .social-content {
          a {
            font-size: 2rem;
          }
        }
      }
    }
  }

  section.about-section {
    height: 100%;
    h1.primary-heading {
      font-size: 3rem;
      text-align: center;

      &::before {
        top: 3.4rem;
        left: 5rem;
        width: 120px;
        height: 5px;
      }

      &::after {
        top: 3.4rem;
        right: 5rem;
        width: 120px;
        height: 5px;
      }
    }

    .about-content {
      padding: 2rem 2rem;
      justify-content: center;

      .about-text {
        width: 700px;
        text-align: center;

        h1 {
          font-size: 2.4rem;
        }

        p {
          font-size: 1.2rem;
          text-align: center;
        }

        a {
          margin: 0 0 1rem 0;
          font-size: 1.25rem;
        }
      }

      .about-img {
        width: 18rem;
        height: 18rem;
        margin: 1rem 0 2rem 0;
        outline-offset: 0.5rem;

        &:hover {
          outline: 0.5rem solid var(--btn-color);
          transform: scale(1.04) translateY(-0.2rem);
        }
      }
    }
  }

  section.achievement {
    .header-main {
      h1 {
        font-size: 4rem;
      }
    }

    .timeline {
      ul {
        li {
          div {
            width: 360px;
          }

          &:nth-child(odd) div {
            left: 40px;
            transform: translate(20px, 0);
          }

          &:nth-child(even) div {
            left: -400px;
            transform: translate(-20px, 0);
          }
        }
      }
    }
  }

  .navbar {
    width: 500px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  header.header-section {
    .header-content {
      left: 5%;
      right: 5%;

      .text-content {
        h1.primary-heading {
          font-size: 4rem;
        }
        h2.secondary-heading {
          font-size: 3.5rem;
        }
        a.primaryBtn {
          font-size: 1.8rem;
        }

        .social-content {
          a {
            font-size: 2rem;
          }
        }
      }
    }
  }

  section.about-section {
    height: 100%;
    h1.primary-heading {
      font-size: 3rem;
      text-align: center;

      &::before {
        top: 3.4rem;
        left: 5rem;
        width: 120px;
        height: 5px;
      }

      &::after {
        top: 3.4rem;
        right: 5rem;
        width: 120px;
        height: 5px;
      }
    }

    .about-content {
      padding: 2rem 2rem;
      justify-content: center;

      .about-text {
        width: 700px;
        text-align: center;

        h1 {
          font-size: 2.4rem;
        }

        p {
          font-size: 1.2rem;
          text-align: center;
        }

        a {
          margin: 0 0 1rem 0;
          font-size: 1.2rem;
        }
      }

      .about-img {
        width: 18.4rem;
        height: 18.4rem;
        margin: 1rem 0 2rem 0;
        outline-offset: 0.5rem;

        &:hover {
          outline: 0.5rem solid var(--btn-color);
          transform: scale(1.04) translateY(-0.2rem);
        }
      }
    }
  }

  section.achievement {
    .header-main {
      h1 {
        font-size: 4rem;
      }
    }

    .timeline {
      ul {
        li {
          div {
            width: 320px;
          }

          &:nth-child(odd) div {
            left: 20px;
            transform: translate(20px, 0);
          }

          &:nth-child(even) div {
            left: -330px;
            transform: translate(-20px, 0);
          }
        }
      }
    }
  }

  .navbar {
    width: 500px;
    .hamburger-menu {
      right: 50px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  header.header-section {
    .header-content {
      left: 3%;
      right: 3%;

      .text-content {
        h1.primary-heading {
          font-size: 2rem;
        }
        h2.secondary-heading {
          font-size: 1.5rem;
        }
        a.primaryBtn {
          font-size: 1.2rem;
        }

        .social-content {
          a {
            margin: 0 1.2rem 0 1.2rem;
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  section.about-section {
    height: 100%;
    padding: 2rem 0 0 0;

    h1.primary-heading {
      font-size: 2.4rem;
      text-align: center;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    .about-content {
      padding: 1rem 2rem;
      justify-content: center;

      .about-text {
        width: 700px;
        text-align: center;

        h1 {
          font-size: 2.4rem;
        }

        p {
          font-size: 1rem;
          text-align: center;
        }

        a {
          margin: 0 0 1rem 0;
          font-size: 1rem;
        }
      }

      .about-img {
        width: 16rem;
        height: 16rem;
        margin: 1rem 0 2rem 0;
        outline-offset: 0.5rem;

        &:hover {
          outline: 0.5rem solid var(--btn-color);
          transform: scale(1.04) translateY(-0.2rem);
        }
      }
    }
  }

  section.achievement {
    .header-main {
      h1 {
        font-size: 4rem;
      }
    }

    .timeline {
      ul {
        li {
          margin: 0 2rem;
          div {
            width: 280px;

            h1 {
              font-size: 1rem;
            }

            p {
              font-size: 0.8rem;
            }
          }

          &:nth-child(odd) div {
            left: 20px;
            transform: translate(20px, 0);
          }

          &:nth-child(even) div {
            left: 20px;
            transform: translate(20px, 0);
          }
        }
      }
    }
  }

  footer.footer-section {
    .social-content {
      a {
        font-size: 1.5rem;
        margin: 1rem 1.4rem 0 1.4rem;
      }
    }
  }

  .navbar {
    width: 200px;
    ul.nav-list {
      li.nav-item {
        a.nav-link {
          font-size: 1rem;
        }
      }

      .social-content {
        a {
          font-size: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  header.header-section {
    .header-content {
      left: 3%;
      right: 3%;

      .text-content {
        h1.primary-heading {
          font-size: 2rem;
        }
        h2.secondary-heading {
          font-size: 1.5rem;
        }
        a.primaryBtn {
          font-size: 1.2rem;
        }

        .social-content {
          a {
            margin: 0 1.2rem 0 1.2rem;
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  section.about-section {
    height: 100%;
    padding: 2rem 0 0 0;

    h1.primary-heading {
      font-size: 2.4rem;
      text-align: center;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    .about-content {
      padding: 1rem 2rem;
      justify-content: center;

      .about-text {
        width: 700px;
        text-align: center;

        h1 {
          font-size: 2.4rem;
        }

        p {
          font-size: 1rem;
          text-align: center;
        }

        a {
          margin: 0 0 1rem 0;
          font-size: 1rem;
        }
      }

      .about-img {
        width: 16rem;
        height: 16rem;
        margin: 1rem 0 2rem 0;
        outline-offset: 0.5rem;

        &:hover {
          outline: 0.5rem solid var(--btn-color);
          transform: scale(1.04) translateY(-0.2rem);
        }
      }
    }
  }

  section.achievement {
    .header-main {
      h1 {
        font-size: 3rem;
      }
    }

    .timeline {
      ul {
        h1.edu {
          font-size: 1.4rem;
        }
        li {
          margin: 0 2rem;
          div {
            width: 240px;

            h1 {
              font-size: 1rem;
            }

            p {
              font-size: 0.8rem;
            }
          }

          &:nth-child(odd) div {
            left: 20px;
            transform: translate(20px, 0);
          }

          &:nth-child(even) div {
            left: 20px;
            transform: translate(20px, 0);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  section.about-section {
    height: 100vh;

    h1.primary-heading {
      font-size: 4rem;
      &::before {
        content: "";
        top: 4rem;
        left: 10rem;
        width: 100px;
      }

      &::after {
        content: "";
        top: 4rem;
        right: 10rem;
        width: 100px;
      }
    }

    .about-content {
      display: flex;
      flex-wrap: wrap;
      padding: 4rem 2rem;
      align-items: center;
      align-content: center;
      justify-content: space-between;

      .about-text {
        width: 500px;

        h1 {
          font-size: 2.8rem;
        }
      }
    }
  }

  section.achievement {
    .timeline {
      ul {
        li {
          div {
            width: 400px;
          }
          &:nth-child(odd) div {
            left: 30px;
            transform: translate(20px, 0);
          }

          &:nth-child(even) div {
            left: -480px;
            transform: translate(10px, 0);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  section.about-section {
    height: 100vh;
    h1.primary-heading {
      font-size: 6rem;
      &::before {
        content: "";
        top: 5rem;
        left: 8rem;
        width: 200px;
      }

      &::after {
        content: "";
        top: 5rem;
        right: 8rem;
        width: 200px;
      }
    }

    .about-content {
      padding: 4rem 2rem;
      .about-text {
        width: 600px;
      }
    }
  }

  section.achievement {
    .timeline {
      ul {
        li {
          div {
            width: 500px;
          }
          &:nth-child(odd) div {
            left: 30px;
            transform: translate(20px, 0);
          }

          &:nth-child(even) div {
            left: -530px;
            transform: translate(-20px, 0);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  section.about-section {
    height: 100vh;

    h1 {
      font-size: 6rem;
    }

    .about-content {
      padding: 6rem 2rem;
      .about-text {
        width: 600px;

        h1 {
          font-size: 4rem;
        }

        p {
          font-size: 1.4rem;
        }
      }
    }
  }
  .navbar {
    .hamburger-menu {
      right: 90px;
    }
  }
}

@keyframes animateProgressBar {
  100% {
    transform: scaleX(1);
  }
}
