@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
:root {
  --header-h1: rgba(238, 238, 238, 1);
  --header-h2: rgba(158, 158, 158, 1);
  --btn-primary: rgba(0, 121, 107, 0.5);
  --btn-secondary: rgba(0, 137, 123, 0.5);
  --header-font: rgba(224, 224, 224, 1);
  --about-bg: rgba(19, 20, 24, 1);
  --about-p: rgba(189, 189, 189, 1);
  --resume-h1: rgba(51, 51, 51, 1);
  --resume-p: rgba(68, 68, 68, 1);
  --resume-bg: rgba(204, 204, 204, 1);
  --resume-header: rgba(221, 221, 221, 1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  font-family: "Monoton", cursive;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  font-family: "Monoton", cursive;
}

p {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-decoration: none !important;
  font-family: "Monoton", cursive;
}

li {
  list-style: none;
}

body {
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.7;
  overflow-x: hidden;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background: var(--bg-color);
}

header.header-section {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.9)), to(black)), url("../img/header-img.jpg") no-repeat fixed center/cover;
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), black), url("../img/header-img.jpg") no-repeat fixed center/cover;
}

header.header-section::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  overflow: hidden;
  position: absolute;
  mix-blend-mode: soft-light;
  background: -webkit-gradient(linear, left top, right bottom, from(#9069d8), color-stop(#8977de), color-stop(#8483e3), color-stop(#818fe6), color-stop(#819ae7), color-stop(#7ca8ec), color-stop(#7bb4ef), color-stop(#80c0f1), color-stop(#85d1f5), color-stop(#94e1f6), color-stop(#a9eff7), to(#c2fdf9));
  background: linear-gradient(to right bottom, #9069d8, #8977de, #8483e3, #818fe6, #819ae7, #7ca8ec, #7bb4ef, #80c0f1, #85d1f5, #94e1f6, #a9eff7, #c2fdf9);
}

header.header-section #particles-js {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

header.header-section .header-content {
  top: 0;
  left: 10%;
  right: 10%;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header.header-section .header-content .text-content {
  text-align: center;
  text-transform: uppercase;
}

header.header-section .header-content .text-content h1 {
  color: var(--header-h1);
}

header.header-section .header-content .text-content h2 {
  color: var(--header-h2);
}

header.header-section .header-content .text-content a.primaryBtn {
  outline: none;
  margin: 0.5rem 0;
  font-size: 2rem;
  text-shadow: none;
  display: inline-block;
  text-decoration: none;
  padding: 0.4rem 1.8rem;
  color: var(--header-font);
  background: var(--btn-primary);
  -webkit-box-shadow: 3px 3px 8px #000;
          box-shadow: 3px 3px 8px #000;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

header.header-section .header-content .text-content a.primaryBtn:hover {
  letter-spacing: 0.4rem;
  background: var(--btn-secondary);
}

header.header-section .header-content .text-content .social-content {
  margin: 0.5rem 0 0 0;
}

header.header-section .header-content .text-content .social-content a {
  outline: none;
  font-size: 2.4rem;
  display: inline-block;
  color: var(--btn-primary);
  margin: 0 2rem 0 2rem;
  text-shadow: 3px 3px 8px #000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header.header-section .header-content .text-content .social-content a:hover {
  color: var(--btn-secondary);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

section.about-section {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 2rem 0;
  position: relative;
  background: var(--about-bg);
}

section.about-section h1.primary-heading {
  text-align: center;
  color: var(--header-h1);
  text-shadow: 5px 5px 8px #000;
}

section.about-section h1.primary-heading::before {
  content: "";
  top: 5rem;
  left: 10rem;
  width: 200px;
  height: 10px;
  position: absolute;
  -webkit-box-shadow: 5px 5px 8px #000;
          box-shadow: 5px 5px 8px #000;
  background: var(--header-h1);
}

section.about-section h1.primary-heading::after {
  content: "";
  top: 5rem;
  right: 10rem;
  width: 200px;
  height: 10px;
  position: absolute;
  -webkit-box-shadow: 5px 5px 8px #000;
          box-shadow: 5px 5px 8px #000;
  background: var(--header-h1);
}

section.about-section .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.about-section .about-content .about-text {
  width: 600px;
}

section.about-section .about-content .about-text h1 {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  color: var(--header-h2);
  text-shadow: 5px 5px 8px #000;
  font-family: "Roboto Condensed", sans-serif;
}

section.about-section .about-content .about-text p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.2rem;
  color: var(--about-p);
  text-shadow: 3px 3px 5px #000;
  font-family: "Open Sans Condensed", sans-serif;
}

section.about-section .about-content .about-text a {
  outline: none;
  text-shadow: none;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0.4rem 1.8rem;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: var(--header-font);
  background: var(--btn-primary);
  -webkit-box-shadow: 3px 3px 8px #000;
          box-shadow: 3px 3px 8px #000;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

section.about-section .about-content .about-text a:hover {
  letter-spacing: 0.4rem;
  background: var(--btn-secondary);
}

section.about-section .about-content .about-img {
  width: 20rem;
  height: 20rem;
  outline-offset: 1rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 5px 5px 8px #000;
          box-shadow: 5px 5px 8px #000;
}

section.about-section .about-content .about-img .img {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(74, 71, 163, 0.4)), to(rgba(65, 60, 105, 0.4))), url("../img/1.jpg") no-repeat center center/cover;
  background: linear-gradient(rgba(74, 71, 163, 0.4), rgba(65, 60, 105, 0.4)), url("../img/1.jpg") no-repeat center center/cover;
}

section.about-section .about-content .about-img:hover {
  outline: 1rem solid var(--btn-primary);
  -webkit-transform: scale(1.06) translateY(-0.5rem);
          transform: scale(1.06) translateY(-0.5rem);
}

section.achievement {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--resume-bg);
}

section.achievement .header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.4rem 0 0.2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--resume-header);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

section.achievement .header-main h1 {
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.2rem;
  color: var(--resume-h1);
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-family: "Bangers", cursive;
}

section.achievement .header-main i {
  font-size: 3rem;
  margin: -1rem 1rem 0 0;
  color: var(--resume-h1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

section.achievement .timeline {
  padding: 50px 0;
}

section.achievement .timeline ul h1.edu {
  width: 20%;
  color: var(--resume-h1);
  line-height: 2;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem 8rem;
  font-weight: 700;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: none;
  letter-spacing: 0.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 1rem auto;
  font-family: "Bangers", cursive;
  background: var(--resume-header);
  border: 0.2rem solid var(--resume-h1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.4);
}

section.achievement .timeline ul li {
  width: 6px;
  margin: 0 auto;
  padding-top: 30px;
  position: relative;
  background: var(--resume-h1);
  -webkit-box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.4);
}

section.achievement .timeline ul li div {
  bottom: 0;
  opacity: 1;
  width: 500px;
  padding: 1rem;
  position: relative;
  background: #ccc;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-transform: uppercase;
  border: 0.25rem solid #333;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

section.achievement .timeline ul li div h1 {
  line-height: 2;
  font-weight: 900;
  text-shadow: none;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: var(--resume-h1);
  font-family: "Roboto Condensed", sans-serif;
}

section.achievement .timeline ul li div h1 i {
  font-size: 1rem;
  padding: 0 0.2rem 0 0;
  color: var(--achievement-color);
}

section.achievement .timeline ul li div p {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.2rem;
  color: var(--resume-p);
  font-family: "Open Sans Condensed", sans-serif;
}

section.achievement .timeline ul li div p span a {
  margin: 0 0.4rem;
  font-size: 1rem;
}

section.achievement .timeline ul li:nth-child(odd) div {
  left: 40px;
  -webkit-transform: translate(20px, 0);
          transform: translate(20px, 0);
}

section.achievement .timeline ul li:nth-child(even) div {
  left: -530px;
  -webkit-transform: translate(-20px, 0);
          transform: translate(-20px, 0);
}

section.achievement .timeline ul li::before {
  content: "";
  left: 50%;
  bottom: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: var(--resume-h1);
  -webkit-box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.4);
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

section.achievement .timeline ul li::after {
  content: "";
  left: 50%;
  bottom: 0;
  width: 20px;
  height: 15px;
  z-index: 2;
  background: url("../img/graduation-cap-solid.svg") no-repeat center center/cover;
  position: absolute;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

section.skills {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--resume-header);
}

section.skills h1 {
  width: 100%;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.2rem;
  color: var(--resume-h1);
  text-transform: uppercase;
  background: var(--resume-bg);
  font-family: "Bangers", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

section.skills div.row {
  padding: 2rem 0 4rem 0;
}

section.skills div.row div h2 {
  color: var(--resume-h1);
  font-size: 2.6rem;
  font-family: "Bangers", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

section.skills div.row div div.progress-bar {
  width: 100%;
  height: 3em;
  color: white;
  font-weight: 900;
  position: relative;
  border-radius: 1.5em;
  background-color: #111;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.85);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.85);
}

section.skills div.row div div.progress-bar::before {
  content: attr(data-label);
  top: 0.5em;
  left: 0.5em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0.5em;
  min-width: 2rem;
  border-radius: 1em;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #069;
  max-width: calc(100% - 1em);
  width: calc(var(--width, 0) * 1%);
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-animation: animateProgressBar 1s cubic-bezier(1, 0, 0.5, 1) forwards;
          animation: animateProgressBar 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

section.contact-section {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--resume-bg);
}

section.contact-section h1 {
  width: 100%;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.2rem;
  color: var(--font-color);
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: var(--resume-header);
  font-family: "Bangers", cursive;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

section.contact-section .contact-content {
  padding: 4rem 0;
  font-family: "Bangers", cursive;
}

section.contact-section .contact-content .content-1 form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.contact-section .contact-content .content-1 form label {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: var(--resume-h1);
  text-transform: uppercase;
  line-height: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

section.contact-section .contact-content .content-1 form input {
  border: 0;
  width: 100%;
  outline: none;
  padding: 0.2rem;
  margin: 0 0 2rem 0;
  font-size: 1.4rem;
}

section.contact-section .contact-content .content-1 form input[type="submit"] {
  border: 0;
  color: #fff;
  cursor: pointer;
  outline: none;
  letter-spacing: 0.2rem;
  background: #00796b;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-family: "Monoton", cursive;
}

section.contact-section .contact-content .content-1 form input[type="submit"]:hover {
  letter-spacing: 0.4rem;
  background: #00897b;
}

section.contact-section .contact-content .content-1 form textarea {
  width: 100%;
  resize: none;
  border: 0;
  width: 100%;
  outline: none;
  padding: 0.2rem;
  margin: 0 0 0.8rem 0;
  font-size: 1.4rem;
}

section.contact-section .contact-content .content-2 iframe {
  width: 100%;
  border: 0.5rem solid var(--resume-h1);
}

footer.footer-section {
  background: #202020;
  padding: 0.2rem 0 0.6rem 0;
}

footer.footer-section .social-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer.footer-section .social-content a {
  color: var(--btn-primary);
  outline: none;
  font-size: 2rem;
  display: inline-block;
  margin: 1rem 1.8rem 0 1.8rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

footer.footer-section .social-content a:hover {
  color: var(--btn-secondary);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  header.header-section .header-content .text-content h1.primary-heading {
    font-size: 4rem;
  }
  header.header-section .header-content .text-content h2.secondary-heading {
    font-size: 3rem;
  }
  header.header-section .header-content .text-content a.primaryBtn {
    font-size: 1.8rem;
  }
  header.header-section .header-content .text-content .social-content a {
    font-size: 2rem;
  }
  section.about-section {
    height: 100%;
  }
  section.about-section h1.primary-heading {
    font-size: 3rem;
    text-align: center;
  }
  section.about-section h1.primary-heading::before {
    top: 3.4rem;
    left: 5rem;
    width: 120px;
    height: 5px;
  }
  section.about-section h1.primary-heading::after {
    top: 3.4rem;
    right: 5rem;
    width: 120px;
    height: 5px;
  }
  section.about-section .about-content {
    padding: 2rem 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.about-section .about-content .about-text {
    width: 700px;
    text-align: center;
  }
  section.about-section .about-content .about-text h1 {
    font-size: 2.4rem;
  }
  section.about-section .about-content .about-text p {
    font-size: 1.2rem;
    text-align: center;
  }
  section.about-section .about-content .about-text a {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
  }
  section.about-section .about-content .about-img {
    width: 18rem;
    height: 18rem;
    margin: 1rem 0 2rem 0;
    outline-offset: 0.5rem;
  }
  section.about-section .about-content .about-img:hover {
    outline: 0.5rem solid var(--btn-color);
    -webkit-transform: scale(1.04) translateY(-0.2rem);
            transform: scale(1.04) translateY(-0.2rem);
  }
  section.achievement .header-main h1 {
    font-size: 4rem;
  }
  section.achievement .timeline ul li div {
    width: 360px;
  }
  section.achievement .timeline ul li:nth-child(odd) div {
    left: 40px;
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  section.achievement .timeline ul li:nth-child(even) div {
    left: -400px;
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  header.header-section .header-content {
    left: 5%;
    right: 5%;
  }
  header.header-section .header-content .text-content h1.primary-heading {
    font-size: 4rem;
  }
  header.header-section .header-content .text-content h2.secondary-heading {
    font-size: 3.5rem;
  }
  header.header-section .header-content .text-content a.primaryBtn {
    font-size: 1.8rem;
  }
  header.header-section .header-content .text-content .social-content a {
    font-size: 2rem;
  }
  section.about-section {
    height: 100%;
  }
  section.about-section h1.primary-heading {
    font-size: 3rem;
    text-align: center;
  }
  section.about-section h1.primary-heading::before {
    top: 3.4rem;
    left: 5rem;
    width: 120px;
    height: 5px;
  }
  section.about-section h1.primary-heading::after {
    top: 3.4rem;
    right: 5rem;
    width: 120px;
    height: 5px;
  }
  section.about-section .about-content {
    padding: 2rem 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.about-section .about-content .about-text {
    width: 700px;
    text-align: center;
  }
  section.about-section .about-content .about-text h1 {
    font-size: 2.4rem;
  }
  section.about-section .about-content .about-text p {
    font-size: 1.2rem;
    text-align: center;
  }
  section.about-section .about-content .about-text a {
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
  }
  section.about-section .about-content .about-img {
    width: 18.4rem;
    height: 18.4rem;
    margin: 1rem 0 2rem 0;
    outline-offset: 0.5rem;
  }
  section.about-section .about-content .about-img:hover {
    outline: 0.5rem solid var(--btn-color);
    -webkit-transform: scale(1.04) translateY(-0.2rem);
            transform: scale(1.04) translateY(-0.2rem);
  }
  section.achievement .header-main h1 {
    font-size: 4rem;
  }
  section.achievement .timeline ul li div {
    width: 320px;
  }
  section.achievement .timeline ul li:nth-child(odd) div {
    left: 20px;
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  section.achievement .timeline ul li:nth-child(even) div {
    left: -330px;
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  header.header-section .header-content {
    left: 3%;
    right: 3%;
  }
  header.header-section .header-content .text-content h1.primary-heading {
    font-size: 2rem;
  }
  header.header-section .header-content .text-content h2.secondary-heading {
    font-size: 1.5rem;
  }
  header.header-section .header-content .text-content a.primaryBtn {
    font-size: 1.2rem;
  }
  header.header-section .header-content .text-content .social-content a {
    margin: 0 1.2rem 0 1.2rem;
    font-size: 1.8rem;
  }
  section.about-section {
    height: 100%;
    padding: 2rem 0 0 0;
  }
  section.about-section h1.primary-heading {
    font-size: 2.4rem;
    text-align: center;
  }
  section.about-section h1.primary-heading::before {
    display: none;
  }
  section.about-section h1.primary-heading::after {
    display: none;
  }
  section.about-section .about-content {
    padding: 1rem 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.about-section .about-content .about-text {
    width: 700px;
    text-align: center;
  }
  section.about-section .about-content .about-text h1 {
    font-size: 2.4rem;
  }
  section.about-section .about-content .about-text p {
    font-size: 1rem;
    text-align: center;
  }
  section.about-section .about-content .about-text a {
    margin: 0 0 1rem 0;
    font-size: 1rem;
  }
  section.about-section .about-content .about-img {
    width: 16rem;
    height: 16rem;
    margin: 1rem 0 2rem 0;
    outline-offset: 0.5rem;
  }
  section.about-section .about-content .about-img:hover {
    outline: 0.5rem solid var(--btn-color);
    -webkit-transform: scale(1.04) translateY(-0.2rem);
            transform: scale(1.04) translateY(-0.2rem);
  }
  section.achievement .header-main h1 {
    font-size: 4rem;
  }
  section.achievement .timeline ul li {
    margin: 0 2rem;
  }
  section.achievement .timeline ul li div {
    width: 280px;
  }
  section.achievement .timeline ul li div h1 {
    font-size: 1rem;
  }
  section.achievement .timeline ul li div p {
    font-size: 0.8rem;
  }
  section.achievement .timeline ul li:nth-child(odd) div {
    left: 20px;
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  section.achievement .timeline ul li:nth-child(even) div {
    left: 20px;
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  footer.footer-section .social-content a {
    font-size: 1.5rem;
    margin: 1rem 1.4rem 0 1.4rem;
  }
}

@media only screen and (max-width: 320px) {
  header.header-section .header-content {
    left: 3%;
    right: 3%;
  }
  header.header-section .header-content .text-content h1.primary-heading {
    font-size: 2rem;
  }
  header.header-section .header-content .text-content h2.secondary-heading {
    font-size: 1.5rem;
  }
  header.header-section .header-content .text-content a.primaryBtn {
    font-size: 1.2rem;
  }
  header.header-section .header-content .text-content .social-content a {
    margin: 0 1.2rem 0 1.2rem;
    font-size: 1.8rem;
  }
  section.about-section {
    height: 100%;
    padding: 2rem 0 0 0;
  }
  section.about-section h1.primary-heading {
    font-size: 2.4rem;
    text-align: center;
  }
  section.about-section h1.primary-heading::before {
    display: none;
  }
  section.about-section h1.primary-heading::after {
    display: none;
  }
  section.about-section .about-content {
    padding: 1rem 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.about-section .about-content .about-text {
    width: 700px;
    text-align: center;
  }
  section.about-section .about-content .about-text h1 {
    font-size: 2.4rem;
  }
  section.about-section .about-content .about-text p {
    font-size: 1rem;
    text-align: center;
  }
  section.about-section .about-content .about-text a {
    margin: 0 0 1rem 0;
    font-size: 1rem;
  }
  section.about-section .about-content .about-img {
    width: 16rem;
    height: 16rem;
    margin: 1rem 0 2rem 0;
    outline-offset: 0.5rem;
  }
  section.about-section .about-content .about-img:hover {
    outline: 0.5rem solid var(--btn-color);
    -webkit-transform: scale(1.04) translateY(-0.2rem);
            transform: scale(1.04) translateY(-0.2rem);
  }
  section.achievement .header-main h1 {
    font-size: 3rem;
  }
  section.achievement .timeline ul h1.edu {
    font-size: 1.4rem;
  }
  section.achievement .timeline ul li {
    margin: 0 2rem;
  }
  section.achievement .timeline ul li div {
    width: 240px;
  }
  section.achievement .timeline ul li div h1 {
    font-size: 1rem;
  }
  section.achievement .timeline ul li div p {
    font-size: 0.8rem;
  }
  section.achievement .timeline ul li:nth-child(odd) div {
    left: 20px;
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  section.achievement .timeline ul li:nth-child(even) div {
    left: 20px;
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
}

@-webkit-keyframes animateProgressBar {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes animateProgressBar {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
/*# sourceMappingURL=style.css.map */